<header>
  <div class="navbar navbar-dark bg-primary shadow-sm text-light">
    <div class="navabr-brand align-item-center d-flex">
      <i style='font-size: 40px;' class="fa-solid fa-store">&nbsp;
      </i>
      <strong style="font-size: 30px;">NONCE</strong>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search Product">
      </div>
      <span class="fas fa-search search-icon"></span>
    </div>
    <button routerLink="cart"  class="btn btn-primary">
      <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
      <div style="font-size:10px" class="badge bg-danger">{{totalItem}}</div>
    </button>
  </div>

</header>
